<table class="table table-striped table-bordered" border="1" cellpadding="1" cellspacing="1">
    <caption>
        @Model.ParagText
    </caption>
    <thead>
    <tr>
        <td>
            <strong>@Model.Table1ItemText1</strong>
        </td>
        <td>
            <strong>@Model.Table1ItemText2</strong>
        </td>
        <td>
            <strong>@Model.Table1ItemText3</strong>
        </td>
    </tr>
    </thead>
    <tbody>
    Component(SubsidiaryTradeNameList)
    <tr>
        <td><strong>@Model.Table1TotalText1</strong></td>
        <td>@Model.Table1TotalText2</td>
        <td>@Model.Table1TotalText3</td>
    </tr>
    </tbody>
</table>
<div class="vlt-gap-60"></div>

<table class="table table-striped table-bordered" border="1" cellpadding="1" cellspacing="1">
    <thead>
    <tr>
        <td>
            <strong>@Model.Table2ItemText1</strong>
        </td>
        <td>
            <strong>@Model.Table2ItemText2</strong>
        </td>
        <td>
            <strong>@Model.Table2ItemText3</strong>
        </td>
        <td>
            <strong>@Model.Table2ItemText4</strong>
        </td>
    </tr>
    </thead>
    <tbody>
        Component(TradeTitleOfThePartnerList)
    </tbody>
</table>