@model Taigate.Data.Data.Entities.Components.GaziKoylu.StatisticsSection
<section class="progress-wrap-layout1 bg-gradient-layout2">
    <div class="progress-inner-wrap bg-position-center bg-no-repeat bg-size-cover parallaxie bg-size-cover bg-no-repeat bg-position-center" data-bg-image="/themes/gazikoylu/media/element/element1.png">
        <div class="container zindex-level-2">
            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="progress-box-layout1">
                        <h2 class="counting-text counter" data-num="@Model.Text1Number">@Model.Text1Number</h2>
                        <div class="item-label">@Model.Text1</div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="progress-box-layout1">
                        <h2 class="counting-text counter" data-num="@Model.Text2Number">@Model.Text2Number</h2>
                        <div class="item-label">@Model.Text2</div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="progress-box-layout1">
                        <h2 class="counting-text counter" data-num="@Model.Text3Number">@Model.Text3Number</h2>
                        <div class="item-label">@Model.Text3</div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="progress-box-layout1">
                        <h2 class="counting-text counter" data-num="@Model.Text4Number">@Model.Text4Number</h2>
                        <div class="item-label">@Model.Text4</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>