@model Taigate.Data.Data.Entities.Components.GaziKoylu.Header

<ul class="footer-menu">
    <li>
        <a href="@Model.MenuItem2Url">@Model.MenuItem2Text</a>
    </li>
    <li>
        <a href="@Model.MenuItem3Url">@Model.MenuItem3Text</a>
    </li>
    <li>
        <a href="@Model.MenuItem4Url">@Model.MenuItem4Text</a>
    </li>
</ul>