@model Taigate.Data.Data.Entities.Components.YatirimcilarRakamArea

<div class="row mt60 text-left">
    <div class="col-lg-4 col-sm-6 mt30 title">
        <h1 class="font-montserrat-bold fs20 text-blue">@Model.Title</h1>
        <h1 class="font-montserrat-bold fs20 text-dark-blue">@Model.Description</h1>
    </div>
    <div class="col-lg-7 col-sm-6">
        <div class="row">
            <div class="col-4">
                <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".2s" data-wow-duration=".5s" data-wow-offset="50">
                    <div class="project-info-title">@Model.Sayi1</div>
                    <div class="project-info-descr">@Model.Yazi1</div>
                </div>
            </div>
            <div class="col-4">
                <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".3s" data-wow-duration=".5s" data-wow-offset="50">
                    <div class="project-info-title">@Model.Sayi2</div>
                    <div class="project-info-descr">@Model.Yazi2</div>
                </div>
            </div>
            <div class="col-4">
                <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".4s" data-wow-duration=".5s" data-wow-offset="50">
                    <div class="project-info-title">@Model.Sayi3</div>
                    <div class="project-info-descr">@Model.Yazi3</div>
                </div>
            </div>
            <div class="col-4">
                <div class="project-info-item wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".5s" data-wow-offset="50">
                    <div class="project-info-title">@Model.Sayi4</div>
                    <div class="project-info-descr">@Model.Yazi4</div>
                </div>
            </div>
            <div class="col-4">
                <div class="project-info-item wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".5s" data-wow-offset="50">
                    <div class="project-info-title">@Model.Sayi5</div>
                    <div class="project-info-descr">@Model.Yazi5</div>
                </div>
            </div>
            <div class="col-4">
                <div class="project-info-item wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".5s" data-wow-offset="50">
                    <div class="project-info-title">@Model.Sayi6</div>
                    <div class="project-info-descr">@Model.Yazi6</div>
                </div>
            </div>
        </div>
    </div>
</div>