@model Taigate.Data.Data.Entities.Components.AboutMarkaArea


<div class="section text-left social-media-contact">
            <div class="aboutus mb40">
              <div class="container">
                <div class="row mt60 text-left">
                  <div class="col-lg-4 col-sm-6 mt30">
                    <h1 class="font-montserrat-bold fs20 text-blue">@Model.Title</h1>
                    <h1 class="font-montserrat-bold fs20 text-dark-blue">@Model.Description</h1>
                  </div>
                  <div class="col-lg-7 col-sm-6">
                    <div class="row">
                      <div class="col-4">
                        <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".2s" data-wow-duration=".5s" data-wow-offset="50">
                          <div class="project-info-title">@Model.Sayi1</div>
                          <div class="project-info-descr">@Model.Yazi1</div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".3s" data-wow-duration=".5s" data-wow-offset="50">
                          <div class="project-info-title">@Model.Sayi2</div>
                          <div class="project-info-descr">@Model.Yazi2</div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".4s" data-wow-duration=".5s" data-wow-offset="50">
                          <div class="project-info-title">@Model.Sayi3</div>
                          <div class="project-info-descr">@Model.Yazi3</div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".2s" data-wow-duration=".5s" data-wow-offset="50">
                          <div class="project-info-title">@Model.Sayi4</div>
                          <div class="project-info-descr">@Model.Yazi4</div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".2s" data-wow-duration=".5s" data-wow-offset="50">
                          <div class="project-info-title">@Model.Sayi5</div>
                          <div class="project-info-descr">@Model.Yazi5</div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".2s" data-wow-duration=".5s" data-wow-offset="50">
                          <div class="project-info-title">@Model.Sayi6</div>
                          <div class="project-info-descr">@Model.Yazi6</div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="project-info-item wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".5s" data-wow-offset="50">
                          <div class="project-info-title">@Model.Sayi7</div>
                          <div class="project-info-descr">@Model.Yazi7</div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="project-info-item wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".5s" data-wow-offset="50">
                          <div class="project-info-title">@Model.Sayi8</div>
                          <div class="project-info-descr">@Model.Yazi8</div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="project-info-item wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".5s" data-wow-offset="50">
                          <div class="project-info-title">@Model.Sayi9</div>
                          <div class="project-info-descr">@Model.Yazi9</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="change-header">
              <div class="container">
                <div class="section-item text-left">
                  <div class="row">
                    <div class="col-md-3 blue-top-line">
                      <h2 class="mb-1 text-blue fs36">@Model.Title2</h2>
                      <div class="section-item-title-xs-narrow text-dark-blue font-montserrat-bold">@Model.Description2</div>
                    </div>
                    <div class="col-md-8 blue-top-line">
                      <div class="fs20 text-blue">@Model.Parag1</div>
                      <div class="fs18 text-grey">@Model.Parag2</div>
                    </div>
                  </div> 
                </div>
              </div>
            </div> 
          </div>

@* <div class="section text-left social-media-contact"> *@
@*             <div class="aboutus mb40"> *@
@*               <div class="container"> *@
@*                 <div class="row mt60 text-left"> *@
@*                   <div class="col-lg-4 col-sm-6 mt30"> *@
@*                     <h1 class="font-montserrat-bold fs20 text-blue">RAKAMLARLA</h1> *@
@*                     <h1 class="font-montserrat-bold fs20 text-dark-blue">DOĞANLAR YATIRIM</h1> *@
@*                   </div> *@
@*                   <div class="col-lg-7 col-sm-6"> *@
@*                     <div class="row"> *@
@*                       <div class="col-4"> *@
@*                         <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".2s" data-wow-duration=".5s" data-wow-offset="50"> *@
@*                           <div class="project-info-title">10</div> *@
@*                           <div class="project-info-descr">Marka</div> *@
@*                         </div> *@
@*                       </div> *@
@*                       <div class="col-4"> *@
@*                         <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".3s" data-wow-duration=".5s" data-wow-offset="50"> *@
@*                           <div class="project-info-title">30</div> *@
@*                           <div class="project-info-descr">Üretim Tesisi</div> *@
@*                         </div> *@
@*                       </div> *@
@*                       <div class="col-4"> *@
@*                         <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".4s" data-wow-duration=".5s" data-wow-offset="50"> *@
@*                           <div class="project-info-title">3500</div> *@
@*                           <div class="project-info-descr">Çalışan</div> *@
@*                         </div> *@
@*                       </div> *@
@*                       <div class="col-4"> *@
@*                         <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".2s" data-wow-duration=".5s" data-wow-offset="50"> *@
@*                           <div class="project-info-title">10</div> *@
@*                           <div class="project-info-descr">Marka</div> *@
@*                         </div> *@
@*                       </div> *@
@*                       <div class="col-4"> *@
@*                         <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".2s" data-wow-duration=".5s" data-wow-offset="50"> *@
@*                           <div class="project-info-title">10</div> *@
@*                           <div class="project-info-descr">Marka</div> *@
@*                         </div> *@
@*                       </div> *@
@*                       <div class="col-4"> *@
@*                         <div class="project-info-item wow fadeInUp blue-line" data-wow-delay=".2s" data-wow-duration=".5s" data-wow-offset="50"> *@
@*                           <div class="project-info-title">10</div> *@
@*                           <div class="project-info-descr">Marka</div> *@
@*                         </div> *@
@*                       </div> *@
@*                       <div class="col-4"> *@
@*                         <div class="project-info-item wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".5s" data-wow-offset="50"> *@
@*                           <div class="project-info-title">4</div> *@
@*                           <div class="project-info-descr">Arge Merkezi</div> *@
@*                         </div> *@
@*                       </div> *@
@*                       <div class="col-4"> *@
@*                         <div class="project-info-item wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".5s" data-wow-offset="50"> *@
@*                           <div class="project-info-title">32</div> *@
@*                           <div class="project-info-descr">Ülkeye İhracat</div> *@
@*                         </div> *@
@*                       </div> *@
@*                       <div class="col-4"> *@
@*                         <div class="project-info-item wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".5s" data-wow-offset="50"> *@
@*                           <div class="project-info-title">300</div> *@
@*                           <div class="project-info-descr">Nokta</div> *@
@*                         </div> *@
@*                       </div> *@
@*                     </div> *@
@*                   </div> *@
@*                 </div> *@
@*               </div> *@
@*             </div> *@
@*             <div class="change-header"> *@
@*               <div class="container"> *@
@*                 <div class="section-item text-left"> *@
@*                   <div class="row"> *@
@*                     <div class="col-md-3 blue-top-line"> *@
@*                       <h2 class="mb-1 text-blue fs36">HAKKIMIZDA</h2> *@
@*                       <div class="section-item-title-xs-narrow text-dark-blue font-montserrat-bold">DOĞANLAR  YATIRIM</div> *@
@*                     </div> *@
@*                     <div class="col-md-8 blue-top-line"> *@
@*                       <div class="fs20 text-blue">Lorem ipsum is placeholder, lorem ipsum dolor sit amet  consectetur adipiscing </div> *@
@*                       <div class="fs18 text-grey">Ali Doğan tarafından 1970’li yıllarda temelleri atılan Doğanlar Yatırım Holding, başta mobilya</div> *@
@*                       <div class="fs18 text-grey">olmak üzere, perakende, enerji ve inşaat sektörlerinde Türkiye’nin önde gelen grup şirketlerinden birisidir. </div> *@
@*                       <div class="fs18 text-grey">Ticari hayatına mobilya sektörü ile 1970’li yıllarda Ali Doğan’ın  *@
@*                         Çanakkale’nin Biga ilçesinde kurduğu Doğan Mobilya ile başlayan Doğanlar Yatırım Holding,  *@
@*                         seneler içinde istikrarlı bir şekilde büyüyerek, hem toplumsal hem de ekonomik kalkınmaya  *@
@*                         katkıda bulunmak misyonuyla ilerleyen ve farklı sektörlerde hizmet veren bir şirketler grubu  *@
@*                         haline geldi.</div> *@
@*                     </div> *@
@*                   </div>  *@
@*                 </div> *@
@*               </div> *@
@*             </div>  *@
@*           </div> *@