@model Taigate.Data.Data.Entities.Components.AboutOdullerArea

<div class="container">
        <div class="section-item text-left">
            <div class="row">
                <div class="col-md-3 blue-top-line main-title">
                    <h2 class="mb-1 text-blue fs30 font-montserrat-bold">@Model.Title</h2>
                    <div class="section-item-title-xs-narrow text-dark-blue font-montserrat-bold">@Model.Description</div>
                </div>
                <div class="col-md-8 blue-top-line">
                    <div class="a-progressbar">
                        <div class="awards-name">
                            <div class="text-uppercase mb-2 text-blue">@Model.OdulTitle1</div>
                            <div class="text-uppercase">
                                @Model.OdulText1
                            </div>
                        </div>
                        <div class="awards-name">
                            <div class="text-uppercase mb-2 text-blue">@Model.OdulTitle2</div>
                            <div class="text-uppercase">
                                @Model.OdulText2
                            </div>
                        </div>
                        <div class="awards-name">
                            <div class="text-uppercase mb-2 text-blue">@Model.OdulTitle3</div>
                            <div class="text-uppercase">
                                @Model.OdulText3
                            </div>
                        </div>
                        <div class="awards-name">
                            <div class="text-uppercase mb-2 text-blue">@Model.OdulTitle4</div>
                            <div class="text-uppercase">
                                @Model.OdulText4
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>